* {
    background-color: black;
    color: cornsilk;
}

main {
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-areas: "head head"
                         "hist form"
                         "foot foot"
                         "resp resp";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    header {
        grid-area: head;
        background-color: crimson;
    }
    footer {
        grid-area: foot;
        background-color: indigo;
    }
    form[id=historySection] {
        grid-area: form;
        background-color: green; 
    }
    section[id=historySection] {
        grid-area: hist;
    }
    section[class=response] {
        grid-area: resp;
    }


}


