* {
    color: cornsilk;
    background-color: black;
    }
   

main {

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head"
                         "hist form"
                         "hist resp"
                         "foot foot";
    grid-template-rows: 100px 200px 1fr 50px;
    grid-template-columns: 35% 65%;


    header {
        grid-area: head;
        background-color: crimson;

    }
    footer {
        grid-area: foot;
        background-color: indigo;
    }

    section {
        grid-area: hist;
        height: 80vh;
        background-color: green; 
    }
    article {
        grid-area: resp;
        background-color: blue;
    }


}


